@{
    ViewData["Title"] = "Art & Culture";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="boxed_wrapper">


    <!-- main-header end -->
    <!-- search popup start-->
    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i class="flaticon-add"></i></button>
        </div>
        <div class="offcanvas-body">
            <form>
                <input type="search" placeholder="Search...">
                <i class="flaticon-search"></i>
            </form>
        </div>
    </div>
    <!-- search popup end-->
    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><i class="fas fa-times"></i></div>
        <nav class="menu-box">
            <div class="nav-logo"><a href="#"><img src="/images/LOGO-TAZ.png" alt="logo"></a></div>
            <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>

            <div class="social-links">
                <div class="banner-media">
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- End Mobile Menu -->
    <!-- common banner -->
    <section class="common-banner" style="position: relative;
             height: 600px;
             max-width: 1740px;
             margin: 0 auto;
             padding: 0 0;
             overflow: hidden;">
        <div class="common-banner-image" style="background: url(/images/bellehouse.jpg);   background-size: cover;background-repeat: no-repeat;"></div>

        <div class="common-banner-title">
            <a style="color:orangered" href="#"> <strong>BEAUTIFUL HOUSE IN THE HEART OF THE TAZA MOUNTAINS </strong> </a>


        </div>
    </section>
    <!-- common banner -->
    <!-- destination details -->
    <section class="destination-details">
        <div class="service-icon1">
            <img src="/images/icons/s-1.png" alt="icon">
        </div>
        <div class="add-spring">
            <img src="/images/shape/spring.png" alt="shape">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="destination-details-left-container">
                        <div class="destination-common-title">
                            <h4>Tranquil Haven in the Taza Mountains: A Charming Retreat Amidst Nature's Splendor!</h4>
                        </div>
                        <p>
                            Charming house very well equipped in the heart of the Taza mountains. Perfect for hiking departures, quads, cross-country motorcycles... or just to spend quiet time and recharge your batteries. This house offers an exceptional setting.
                            Small parties (birthday / wedding / baptism, Eid... ) can be organized, no neighbors so no overlook.
                            Several fruit trees are in the garden, you can serve yourself depending on the season, pears, figs... + mint.
                        </p>
                        <div class="destination-details-image">
                            <a href="destination.html"><img src="/images/bellehouse6.jpg" alt="image"></a>
                        </div>

                        <div class="destination-common-title">
                            <h4>More Details</h4>
                        </div>
                        <p>
                            Boasting air-conditioned accommodation with a patio, BELLE MAISON AU COEUR DES MONTAGNES DE TAZA à moins de 10 minutes de l'AGORA PARK is situated in Taza. This holiday home features free private parking, a 24-hour front desk and free WiFi.

                            The holiday home features 2 bedrooms, 3 bathrooms, bed linen, towels, a flat-screen TV, a dining area, a fully equipped kitchen, and a terrace with mountain views. A private entrance leads guests into the holiday home, where they can enjoy some fruits. The property offers garden views.

                            The holiday home has a barbecue and a garden.

                            The nearest airport is Cherif Al Idrissi Airport, 124 km from BELLE MAISON AU COEUR DES MONTAGNES DE TAZA à moins de 10 minutes de l'AGORA PARK.</p>
                        <div class="dd-image-container">
                            <div class="dd-image-flex">
                                <a href="destination.html"><img src="/images/bellehouse2.jpg" alt="image"></a>
                            </div>
                            <div class="dd-image-flex">
                                <a href="destination.html"><img src="/images/bellehouse3.jpg" alt="image"></a>
                            </div>
                        </div>

                        <div class="destination-common-title">
                            <h4>Facilities of BEAUTIFUL HOUSE IN THE HEART OF THE TAZA MOUNTAINS:</h4>
                            <h6 style="color:grey">Great facilities! Review score, 8.5</h6><br />


                        </div>
                        <h6 style="color:orangered"><strong>Most popular facilities</strong></h6><br />
                        <div class="facilities">
                            
                            <div class="facility">
                                <i class="fas fa-ban"></i>
                                <span>Non-smoking rooms</span>
                            </div>
                            <div class="facility">
                                <i class="fas fa-wifi"></i>
                                <span>Free WiFi</span>
                            </div>
                            <div class="facility">
                                <i class="fas fa-parking"></i>
                                <span>Free parking</span>
                            </div>
                            <div class="facility">
                                <i class="fas fa-users"></i>
                                <span>Family rooms</span>
                            </div>
                           

                        </div>

                        <br />



                        <section id="facilities">


                            <div style="margin-left:0px;" class="facility-category">
                                <div class="column">
                                    <h3><strong>Bathroom</strong></h3>
                                    <ul>
                                        <li>Towels</li>
                                        <li>Toilet paper</li>
                                        <li>Towels</li>
                                        <li>Private bathroom</li>
                                        <li>Toilet</li>
                                        <li>Bath</li>
                                  
                                        <li>Shower</li>
                                    </ul>
                                </div>

                                <div class="column">
                                    <h3><strong>Media &amp; Technology</strong></h3>
                                    <ul>
                                        <li>Flat-screen TV</li>
                                       
                                    </ul>
                                </div>
                                <div class="column">
                                    <h3> <strong>Kitchen</strong></h3>
                                    <ul>
                                        <li>Children's high chair</li>
                                        <li>Dining table</li>
                                        <li>Coffee machine</li>
                                        <li></li>
                                        <li>Cleaning products</li>
                                        <li>Stovetop</li>
                                        <li>Kitchenware</li>
                                        <li>Kitchen</li>
                                        <li>Refrigerator</li>
                                        <li>Kitchenette</li>
                                    </ul>
                                </div>
                                <div class="column">
                                    <h3><strong>Room Amenities</strong></h3>
                                    <ul>
                                        <li>Socket near the bed</li>
                                        <li>Sofa bed</li>
                                        <li>Drying rack for clothing</li>
                                        <li>Fold-up bed</li>
                                        <li>Clothes rack</li> 
                                        <li>Tile/marble floor</li>
                                        <li>Private entrance</li>
                                        <li>Heating</li>
                                        <!-- Ajoutez ici d'autres éléments de Food & Drink si nécessaire -->
                                    </ul>
                                </div>
                                <div class="column">
                                    <h3> <strong>Bedroom</strong></h3>
                                    <ul>
                                        <li>Linen</li>
                                        <li>Wardrobe or closet</li>
                                        <!-- Ajoutez ici d'autres éléments de Bedroom si nécessaire -->
                                    </ul>
                                </div>
                                <div class="column">
                                    <h3><strong>Outdoor & View</strong></h3>
                                    <ul>
                                        <li>Mountain view</li>
                                        <li> view</li>
                                        <li>Garden view</li>
                                        <!-- Ajoutez ici d'autres éléments de View si nécessaire -->
                                    </ul>
                                </div>
                                <div class="column">
                                    <h3><strong>Internet</strong></h3>
                                   
                                        <p style="color:grey">WiFi is available in public areas and is free of charge</p>
                                        <!-- Ajoutez ici d'autres éléments spécifiques d'Internet si nécessaire -->
                                    
                                </div>
                                <div class="column">
                                    <h3><strong>Parking</strong></h3>
                                    <p style="color:grey">Free private parking is possible on site (reservation is not needed).</p>
                                    <ul>

                                        <li>Parking garage</li>
                                        <!-- Ajoutez ici d'autres éléments spécifiques de Parking si nécessaire -->
                                    </ul>
                                </div>
                                <div class="column">
                                    <h3><strong>Reception services</strong></h3>
                                    <ul>
                                       
                                        <li>24-hour front desk</li>
                                        <!-- Ajoutez ici d'autres éléments spécifiques de Reception services si nécessaire -->
                                    </ul>
                                </div>

                                <div class="column">
                                    <h3> <strong>Outdoors</strong></h3>
                                    <ul>
                                        <li>Barbecue</li>
                                        <li>BBQ facilities</li>
                                        <li>Patio</li>
                                        <li>Terrace</li>
                                        <li>Garden</li>
                                        <!-- Ajoutez ici d'autres éléments spécifiques de Outdoors si nécessaire -->
                                    </ul>
                                </div>
                                <div class="column">
                                    <h3><strong>Miscellaneous</strong></h3>
                                    <ul>
                                        <li>Air conditioning</li>
                                        <li>Family rooms</li>
                                        <li>Non-smoking rooms</li>
                                        <!-- Ajoutez ici d'autres éléments spécifiques de Swimming pools si nécessaire -->
                                    </ul>
                                </div>
                                <div class="column">
                                    <h3><strong>Living Area</strong></h3>
                                    <ul>
                                        <li>Dining area</li>
                                        <li>Desk</li>
                                        <!-- Ajoutez ici d'autres éléments spécifiques de Living Area si nécessaire -->
                                    </ul>
                                </div>
                                <div class="column">
                                    <h3><strong>Languages spoken</strong></h3>
                                    <ul>
                                        <li>Arabic</li>
                                        <li>English</li>
                                        <li>Spanish</li>

                                        <!-- Ajoutez ici d'autres éléments spécifiques de Living Area si nécessaire -->
                                    </ul>
                                </div>
                                <div class="column">
                                    <h3><strong>Pets</strong></h3>

                                    <p style="color:grey">Pets are allowed. No extra charges</p>
                                    <!-- Ajoutez ici d'autres éléments spécifiques d'Internet si nécessaire -->

                                </div>

                            </div>
                        </section>
                        <div class="destination-common-title">
                            <h4>View On Map :</h4>
                        </div>
                        <div class="destination-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m13!1m8!1m3!1d6539.16118820615!2d-3.950045072189056!3d34.38360876326411!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzTCsDIzJzAyLjYiTiAzwrA1Nic1OC4wIlc!5e0!3m2!1sfr!2sma!4v1691007464771!5m2!1sfr!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>


                        <div class="faq-accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h4 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            What are the main features of this beautiful <br/> house in the heart of the Taza Mountains?
                                        </button>
                                    </h4>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            This beautiful house in the heart of the Taza Mountains offers warm and welcoming interiors, panoramic mountain views, comfortable bedrooms, and charming Moroccan decor.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h4 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            What outdoor activities are available nearby the house?
                                        </button>
                                    </h4>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            The Taza Mountains offer a plethora of outdoor activities, including scenic hiking trails, nature excursions, and opportunities for observing local wildlife and flora.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h4 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            How is the surrounding environment around the house?
                                        </button>
                                    </h4>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            The surrounding environment around the house is peaceful and serene, offering a complete escape from urban hustle. Guests will be surrounded by the natural beauty of the Taza Mountains.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="destination-common-title">
                            <h4>Feel Free Ask This Place :</h4>
                        </div>
                        <div class="destination-form-container">
                            <form id="myForm">
                                <input type="text" id="name" placeholder="Your name" name="name" required autocomplete="off" />

                                <input type="text" id="phone" placeholder="Your phone" name="phone" required autocomplete="off" />

                                <input type="text" id="subject" placeholder="Your subject" name="subject" required autocomplete="off" />

                                <textarea id="question" placeholder="Write your Question" name="question" required autocomplete="off"></textarea>

                                <button type="button" id="submit">Send now</button>
                            </form>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- destination details -->
</div>


@section Scripts {
    <style>

        #facilities {
            padding: 0rem;
        }

        .facility-category {
            margin-bottom: 2rem;
            display: flex;
            flex-wrap: wrap;
        }

        .column {
            margin-right: 50px;
            margin-bottom: 25px;
        }

            .column:last-child {
                margin-right: 0;
            }

        .facility-category h3 {
            font-size: 20px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 0.5rem;
            color: orangered;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            padding: 0.25rem 0;
        }



        .facilities {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        .facility {
            align-items: center;
            margin-right: 40px;
        }

            .facility i {
                font-size: 20px;
            }

            .facility span {
                font-size: 14px;
            }

    </style>
    <style>
        /* Style for error messages */
        .error {
            color: red;
            font-size: 12px;
            margin-top: 5px;
        }

        /* Remove spacing between form fields and error messages */


        /* Adjust spacing between form fields if needed */

    </style>
    <script>


        $(document).ready(function () {
            // Intercepter le clic sur le bouton "Envoyer maintenant"
            $("#submit").click(function () {
                // Valider le formulaire
                if ($("#myForm").valid()) {
                    // Sérialiser les données du formulaire
                    const formData = {
                        name: $('#name').val(),
                        phone: $('#phone').val(),
                        subject: $('#subject').val(),
                        question: $('#question').val(),
                    };

                    //var formData = $("#myForm").serialize();

                    // Envoyer les données via AJAX
                    $.ajax({
                        url: '@Url.Action("SaveFormData", "FormulaireDatums")', // Remplacez ceci par votre URL côté serveur
                        type: 'POST',
                        data: JSON.stringify(formData),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",

                    })
                        .done(function (response) {
                            // Si la requête est réussie, afficher le message de succès
                            alert("Form submitted successfully!");
                            // Réinitialiser le formulaire après une soumission réussie (optionnel)
                            $("#myForm")[0].reset();
                        })
                        .fail(function (xhr, status, error) {
                            // Si la requête échoue, afficher le message d'erreur
                            alert("An error occurred while saving the data");
                        });
                }
            });

            // Règles de validation du formulaire
            $("#myForm").validate({
                // Vos règles de validation ici...
                rules: {
                    name: {
                        required: true,
                        maxlength: 50 // Limit name to 50 characters maximum

                    },
                    phone: {
                        required: true,
                        minlength: 10, // Phone number must have at least 10 digits
                        maxlength: 15 // Limit phone number to 15 digits maximum
                    },
                    subject: {
                        required: true,
                        maxlength: 100,// Limit subject to 100 characters maximum
                        minlength: 5,
                    },
                    question: {
                        required: true,
                        maxlength: 500, // Limit question to 500 characters maximum
                        minlength: 15,
                    }
                },
                messages: {
                    name: {
                        required: " Please enter your name.",
                        maxlength: "The name must not exceed {0} characters."
                    },
                    phone: {
                        required: "Please enter your phone number.",
                        minlength: "The phone number must have at least {0} digits.",
                        maxlength: "The phone number must not exceed {0} digits."
                    },
                    subject: {
                        required: "Please enter the subject.",
                        maxlength: "The subject must not exceed {0} characters."
                    },
                    question: {
                        required: "Please write your question.",
                        maxlength: "The question must not exceed {0} characters."
                    }
                },
            });
        });

    </script>
}
