
@{
    ViewData["Title"] = "Art & Culture";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="boxed_wrapper">


    <!-- main-header end -->
    <!-- search popup start-->
    <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><i class="flaticon-add"></i></button>
        </div>
        <div class="offcanvas-body">
            <form>
                <input type="search" placeholder="Search...">
                <i class="flaticon-search"></i>
            </form>
        </div>
    </div>
    <!-- search popup end-->
    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><i class="fas fa-times"></i></div>
        <nav class="menu-box">
            <div class="nav-logo"><a href="#"><img src="/images/LOGO-TAZ.png" alt="logo"></a></div>
            <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
           
            <div class="social-links">
                <div class="banner-media">
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- End Mobile Menu -->
    <!-- common banner -->
    <section class="common-banner">
        <div class="common-banner-image" style="background: url(/images/souktaza.jpg);   background-size: cover;
        background-repeat: no-repeat;
        background-position: center;"></div>

        <div class="common-banner-title">
            <a style="color:orangered" href="#"> <strong>Let's explore taza's weekly sooks </strong> </a>


        </div>
    </section>
    <!-- common banner -->
    <!-- destination details -->
    <section class="destination-details">
        <div class="service-icon1">
            <img src="/images/icons/s-1.png" alt="icon">
        </div>
        <div class="add-spring">
            <img src="/images/shape/spring.png" alt="shape">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="destination-details-left-container">
                        <div class="destination-common-title">
                            <h4>Weekly Souks of Taza: An Immersion into Moroccan Culture and Treasures.</h4>
                        </div>
                        <p>Taza, , is a city renowned for its lively and colorful weekly souks. The weekly souks, also known as "weekly markets" or "livestock markets," are significant events in the social and economic life of the region.</p>
                        <div class="destination-details-image">
                            <a href="destination.html"><img src="/images/sok4.jpg" alt="image"></a>
                        </div>

                        <div class="destination-common-title">
                            <h4>More Details:</h4>
                        </div>
                        <p>
                            The weekly souks of Taza typically take place once a week, and their specific day may vary from one locality to another. These souks attract residents from the surrounding areas, as well as farmers, herders, and artisans from the region. They provide a unique opportunity for both residents and visitors to come together, exchange goods, and socialize.

                            The Taza souk is divided into different sections, each dedicated to a specific type of product or activity. Here are some examples of typical sections that can be found in a weekly souk in Taza:
                          <ol>
                                <li> <strong style="color:orangered">Livestock market:</strong> This is one of the most significant parts of the souk, where farmers and herders come to buy and sell animals such as sheep, cows, goats, and chickens.</li>
                                <br/>
                                <li> <strong style ="color:orangered">Fruits and vegetables market:</strong> This section is filled with colorful stalls offering a variety of fresh and local produce, ranging from juicy fruits to flavorful vegetables.</li>
                                <br />
                                <li>
                                    <strong style="color:orangered">Artisan market:</strong> Here, one can find traditional Moroccan handicrafts, including carpets, pottery, jewelry, clothing, and many other handmade items.
                                </li>
                                <br />
                                <li> <strong style="color:orangered">Food market: </strong>This is where visitors can indulge in a variety of delicious Moroccan dishes and traditional snacks. Stands often offer skewers, freshly baked bread, pastries, and refreshing beverages.</li>
                                <br />
                            </ol>

                            The weekly souks of Taza are lively, bustling, and full of life. They present a unique opportunity to immerse oneself in the local culture, meet warm-hearted locals, and savor delicious Moroccan cuisine. Bargaining is also a common practice in these souks, so it is advisable to negotiate prices before making a purchase.
                        </p>
                        <div class="dd-image-container">
                            <div class="dd-image-flex">
                                <a href="destination.html"><img src="/images/sook8.jpg" alt="image"></a>
                            </div>
                            <div class="dd-image-flex">
                                <a href="destination.html"><img src="/images/sok2.jpg" alt="image"></a>
                            </div>
                        </div>

                        <div class="destination-common-title">
                            <h4>Good to Know :</h4>
                        </div>
                        <p>The most important weekly souk in Taza takes place on Thursdays, attracting lively crowds and captivating energy. 
                            <br/> From the early dawn, the city streets come alive as merchants and buyers converge from all directions to partake in this age-old tradition. 
                            <br/> Thursday is the day when the souk reaches its peak, showcasing its full wealth and cultural diversity.
                            <br/> The livestock market is particularly vibrant, with farmers arriving from distant villages to sell their animals.
                            <br/> Goats, sheep, cows, and poultry are displayed in open-air enclosures, where enthusiastic haggling and transactions take place. </p>

                        <div class="destination-common-title">
                            <h4>View On Map :</h4>
                        </div>
                        <div class="destination-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d13195.210600233646!2d-4.006275967329762!3d34.228057119454775!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1ssouks%20jeudi%20taza!5e0!3m2!1sfr!2sus!4v1690068026843!5m2!1sfr!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>


                        <div class="faq-accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h4 class="accordion-header" id="headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Which day of the week does the most important souk in Taza take place?
                                        </button>
                                    </h4>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            The most important weekly souk in Taza takes place on Thursdays.<br/> It's the day when the market reaches its peak, with a strong influx of merchants and buyers coming from all surrounding regions.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h4 class="accordion-header" id="headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            What types of products are typically found at the souk in Taza?
                                        </button>
                                    </h4>
                                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                             The souk in Taza offers a wide variety of products. You can find fresh produce such as fruits, vegetables, aromatic herbs, and spices. The livestock market is also very lively, featuring animals like goats, sheep, cows, and chickens. Additionally, visitors can purchase traditional handmade artisanal items such as carpets, pottery, jewelry, and clothing.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h4 class="accordion-header" id="headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            What advice would you give to travelers who want to visit the souks of Taza?
                                        </button>
                                    </h4>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            To fully enjoy the experience of Taza's souks, it's recommended to arrive early in the morning as it's the most vibrant time of the day. Be prepared to haggle, as bargaining is an integral part of Moroccan souk culture. Don't hesitate to try the culinary specialties offered in the food market and take the time to immerse yourself in the enchanting and colorful atmosphere of this fascinating world of Moroccan souks
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="destination-common-title">
                            <h4>Feel Free Ask This Place :</h4>
                        </div>
                        <div class="destination-form-container">
                            <form id="myForm">
                                <input type="text" id="name" placeholder="Your name" name="name" required autocomplete="off" />

                                <input type="text" id="phone" placeholder="Your phone" name="phone" required autocomplete="off" />

                                <input type="text" id="subject" placeholder="Your subject" name="subject" required autocomplete="off" />

                                <textarea id="question" placeholder="Write your Question" name="question" required autocomplete="off"></textarea>

                                <button type="button" id="submit">Send now</button>
                            </form>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- destination details -->
</div>


@section Scripts {
    <style>
        /* Style for error messages */
        .error {
            color: red;
            font-size: 12px;
            margin-top: 5px;
        }

        /* Remove spacing between form fields and error messages */


        /* Adjust spacing between form fields if needed */

    </style>
    <script>

        //$(document).ready(function () {
        //    // Validation rules
        //    $("#myForm").validate({
        //        rules: {
        //            name: {
        //                required: true,
        //                maxlength: 50 // Limit name to 50 characters maximum

        //            },
        //            phone: {
        //                required: true,
        //                minlength: 10, // Phone number must have at least 10 digits
        //                maxlength: 15 // Limit phone number to 15 digits maximum
        //            },
        //            subject: {
        //                required: true,
        //                maxlength: 100,// Limit subject to 100 characters maximum
        //                minlength: 5,
        //            },
        //            question: {
        //                required: true,
        //                maxlength: 500, // Limit question to 500 characters maximum
        //                minlength: 15,
        //            }
        //        },
        //        messages: {
        //            name: {
        //                required: " Please enter your name.",
        //                maxlength: "The name must not exceed {0} characters."
        //            },
        //            phone: {
        //                required: "Please enter your phone number.",
        //                minlength: "The phone number must have at least {0} digits.",
        //                maxlength: "The phone number must not exceed {0} digits."
        //            },
        //            subject: {
        //                required: "Please enter the subject.",
        //                maxlength: "The subject must not exceed {0} characters."
        //            },
        //            question: {
        //                required: "Please write your question.",
        //                maxlength: "The question must not exceed {0} characters."
        //            }
        //        },

        //        submitHandler: function (form) {
        //            // Code to execute when the form is successfully submitted
        //            // You can send the form via AJAX here if needed
        //            alert("Form submitted successfully!");

        //            // Submit the form via AJAX
        //            var formData = {
        //                name: $("input[name='name']").val(),
        //                phone: $("input[name='phone']").val(),
        //                subject: $("input[name='subject']").val(),
        //                question: $("textarea[name='question']").val()
        //            };

        //            $.ajax({
        //                url: '@Url.Action("SaveFormData", "Form")',
        //                type: 'POST',
        //                dataType: 'json',
        //                data: formData,
        //                success: function (response) {
        //                    alert(response.message);

        //                },
        //                error: function (xhr, status, error) {
        //                    alert("An error occurred while saving the data.");

        //                }
        //            });
        //        }
        //    });

        //    // Intercept the click on the submit button
        //    $("#submit").click(function () {
        //        // Validate the form before submitting via AJAX
        //        $("#myForm").submit();

        //    });

        //});
        $(document).ready(function () {
            // Intercepter le clic sur le bouton "Envoyer maintenant"
            $("#submit").click(function () {
                // Valider le formulaire
                if ($("#myForm").valid()) {
                    // Sérialiser les données du formulaire
                    const formData = {
                        name: $('#name').val(),
                        phone: $('#phone').val(),
                        subject: $('#subject').val(),
                        question: $('#question').val(),
                    };

                    //var formData = $("#myForm").serialize();

                    // Envoyer les données via AJAX
                    $.ajax({
                        url: '@Url.Action("SaveFormData", "FormulaireDatums")', // Remplacez ceci par votre URL côté serveur
                        type: 'POST',
                        data: JSON.stringify(formData),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",

                    })
                        .done(function (response) {
                            // Si la requête est réussie, afficher le message de succès
                            alert("Form submitted successfully!");
                            // Réinitialiser le formulaire après une soumission réussie (optionnel)
                            $("#myForm")[0].reset();
                        })
                        .fail(function (xhr, status, error) {
                            // Si la requête échoue, afficher le message d'erreur
                            alert("An error occurred while saving the data");
                        });
                }
            });

            // Règles de validation du formulaire
            $("#myForm").validate({
                // Vos règles de validation ici...
                rules: {
                    name: {
                        required: true,
                        maxlength: 50 // Limit name to 50 characters maximum

                    },
                    phone: {
                        required: true,
                        minlength: 10, // Phone number must have at least 10 digits
                        maxlength: 15 // Limit phone number to 15 digits maximum
                    },
                    subject: {
                        required: true,
                        maxlength: 100,// Limit subject to 100 characters maximum
                        minlength: 5,
                    },
                    question: {
                        required: true,
                        maxlength: 500, // Limit question to 500 characters maximum
                        minlength: 15,
                    }
                },
                messages: {
                    name: {
                        required: " Please enter your name.",
                        maxlength: "The name must not exceed {0} characters."
                    },
                    phone: {
                        required: "Please enter your phone number.",
                        minlength: "The phone number must have at least {0} digits.",
                        maxlength: "The phone number must not exceed {0} digits."
                    },
                    subject: {
                        required: "Please enter the subject.",
                        maxlength: "The subject must not exceed {0} characters."
                    },
                    question: {
                        required: "Please write your question.",
                        maxlength: "The question must not exceed {0} characters."
                    }
                },
            });
        });

    </script>
}
