<footer class="main__footer p_relative">
    <div class="footer-location1 footer-location">
        <i class="fa-solid fa-location-dot"></i>
    </div>
    <div class="footer-location2 footer-location">
        <i class="fa-solid fa-location-dot"></i>
    </div>
    <div class="footer-location3 footer-location">
        <i class="fa-solid fa-location-dot"></i>
    </div>
    <div class="footer-location4 footer-location">
        <i class="fa-solid fa-location-dot"></i>
    </div>
    <div class="footer-location5 footer-location">
        <i class="fa-solid fa-location-dot"></i>
    </div>
    <div class="footer__middle  p_relative d_block">
        <div class="container">
            <div class="footer__middle__content">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 footer_column">
                        <div class="footer_widget left">
                            <div class="footer__logo">
                                <figure>
                                    <img src="~/images/LOGO-TAZ.png" alt="">
                                </figure>
                            </div>
                            <div class="widget_content">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantiumtheresr doloremque laudantium, totam rem aperiam.</p>
                            </div>
                            <div class="banner-media footer-media">
                                <p>Social Network:</p>
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12 footer_column">
                        <div class="footer_widget links_widget ml_100">
                            <div class="widget_title">
                                <h4>About Travel</h4>
                            </div>
                            <div class="widget_content">
                                <ul class="links_list clearfix">
                                    <li><a href="destination-details.html">Destination </a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="tour-details.html">Tours</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom p_relative">
        <div class="auto_container">
            <div class="bottom_inner  p_relative">
                <div class="copyright"><p> © 2023 All Right Reserved</p></div>
            </div>
        </div>
    </div>
</footer>